<p class="content-padded">Thanks for downloading Ratchet. This is an example HTML page that's linked up to compiled Ratchet CSS and JS, has the proper meta tags and the HTML structure. Need some more help before you start filling this with your own content? Check out some Ratchet resources:</p>

<ul class="table-view">
  <li class="table-view-cell">
    <a class="push-right" href="#static-page">
      <strong>Static page</strong>
    </a>
  </li>
  <li class="table-view-cell">
    <a class="push-right" href="#form-page">
      <strong>Form page</strong>
    </a>
  </li>
  <li class="table-view-cell">
    <a class="push-right" href="#slider-page">
      <strong>Slider page</strong>
    </a>
  </li>
</ul>